/* htmlデフォルトの余白を削除 */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(175, 175, 175);
    width: 100%;
    height: 650px;
    margin: 0;
    background: url(../img/background_blue.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header h1 {
    margin: 0;
}

/* ハンバーガーボタンのスタイル */
#burger {
    display: grid;
    position: fixed;
    border-radius: 7px;
    top: 2%;
    left: 2%;
    z-index: 200;
    place-items: center;
    width: 44px;
    aspect-ratio: 1;
    border: none;
    z-index: 200;
}

/* ボタンにカーソルを合わせた時のスタイル */
#burger:hover {
    background-color: #ccc;
    cursor: pointer;
}

/* ボタン内の横線作成 */
#burger span {
    display: block;
    background-color: #000;
    width: 70%;
    height: 2px;
    grid-area: 1 / 1 / -1 / -1;
}
#burger span:nth-child(1) {
    transition: opacity 0.4s ease;
}
        
#burger span:nth-child(2) {
    translate: 0 -0.5rem;
}
#burger span:nth-child(3) {
    translate: 0 0.5rem;
}
#burger span:nth-child(2),
#burger span:nth-child(3) {
    transition: rotate 0.4s ease, translate 0.4s ease;
}

/* ボタンが押された時のアニメーション */
#burger.is-active span:nth-child(1) {
    opacity: 0;
}
#burger.is-active span:nth-child(2) {
    rotate: 45deg;
    translate: 0 0;
}
#burger.is-active span:nth-child(3) {
    rotate: -45deg;
    translate: 0 0;
}

/* メニュー画面 */
#menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 150;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.95);
    transform: translateY(-100%); /* ボタンが押されていないときは画面外に表示 */
    transition: transform 0.5s ease;
}

#menu.is-active {
    transform: translateY(0);
}

#menu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: 0;
    color: #fff;
    margin: 10px 0;
    font-size: 25px;
}

#menu a:hover {
    color: red;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.top-block {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.top-block  img {
    width: 100%;
    
}

main {
}

.slideshow img{
    width: 40px;
}

.intro h3{
    margin: 0;
    padding: 50px;
    text-align: center;
}


.content-bad {
    /* background: url(../img/Gemini_Generated_Image_ajfbmzajfbmzajfb.png); */
    /* color: #fff; */
}

h2 {
    text-align: center;
}

.guide {
    display: flex;
    justify-content: space-evenly;
}

.guzai img {
    width: 70px;
}