body {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
}

.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top h1 {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 80px;
}

.container {
    background-color: aliceblue;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 30px;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card {
    position: relative;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.card h4 {
    padding-top: 9px;
}

.card img {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60%);
}

.link_block {
    text-align: center;
    background-color: aliceblue;
}

.link_block h2 {
    padding-top: 10px;
}

.link_card {
    display: flex;
}

.link_card a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-size: cover;
    background-position: center;
    flex: 1;
    text-align: center;
    padding: 100px 0;
    border: #bbb solid 1px;
}

.link_card a:hover {
    cursor: pointer;
}

#salmon {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/salmon_image/salmon_image.png");
}

#salt {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/salt.png");
}

#tunamayo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/tunamayo.png");
}

#kelp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/kelp_onigiri.png");
}

/* ハンバーガーボタンのスタイル */
#burger {
    display: grid;
    position: fixed;
    border-radius: 7px;
    top: 2%;
    left: 2%;
    z-index: 200;
    place-items: center;
    width: 44px;
    aspect-ratio: 1;
    border: none;
    z-index: 200;
}

/* ボタンにカーソルを合わせた時のスタイル */
#burger:hover {
    background-color: #ccc;
    cursor: pointer;
}

/* ボタン内の横線作成 */
#burger span {
    display: block;
    background-color: #000;
    width: 70%;
    height: 2px;
    grid-area: 1 / 1 / -1 / -1;
}
#burger span:nth-child(1) {
    transition: opacity 0.4s ease;
}

#burger span:nth-child(2) {
    translate: 0 -0.5rem;
}
#burger span:nth-child(3) {
    translate: 0 0.5rem;
}
#burger span:nth-child(2),
#burger span:nth-child(3) {
    transition: rotate 0.4s ease, translate 0.4s ease;
}

/* ボタンが押された時のアニメーション */
#burger.is-active span:nth-child(1) {
    opacity: 0;
}
#burger.is-active span:nth-child(2) {
    rotate: 45deg;
    translate: 0 0;
}
#burger.is-active span:nth-child(3) {
    rotate: -45deg;
    translate: 0 0;
}

/* メニュー画面 */
#menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 150;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.95);
    transform: translateY(-100%); /* ボタンが押されていないときは画面外に表示 */
    transition: transform 0.5s ease;
}

#menu.is-active {
    transform: translateY(0);
}

#menu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: 0;
    color: #fff;
    margin: 10px 0;
    font-size: 25px;
}

#menu a:hover {
    color: red;
    text-decoration: underline;
    text-underline-offset: 8px;
}
