h1,h2,table {
    text-align: center;
}
table {
  border-collapse: collapse; 
}
table, th, td {
  border: 2px solid black; 
}
.underline {
  text-decoration:underline;
}
table{
  margin-left:auto;
  margin-right:auto;
}